@import "tailwindcss";

@source "../app/**/*.{js,jsx,ts,tsx,mdx}" "../components/**/*.{js,jsx,ts,tsx}" "../styles/**/*.{css}" "../lib/**/*.{js,ts,tsx}" "../pages/**/*.{js,jsx,ts,tsx,mdx}" "./public/**/*.html";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gray-50;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-fade {
  animation: fade 2s ease-in-out forwards;
}